<div class="islet manager">
    <div class="toolbar">
        <button v-if="!container || sorting || view == 'add' || view == 'remove'" class="disabled parent">Parent</button>
        <button v-if="container && !sorting && view != 'add' && view != 'remove'" class="parent" v-on:click="focus(container.parentNode)">Parent</button>

        <button v-if="!container || selected || view == 'add' || view == 'remove'" class="disabled add">Add</button>
        <button v-if="container && !selected && view != 'add' && view != 'remove'" class="add" v-on:click="show('add')">Add</button>

        <button v-if="view != 'list' || !selected || sorting" class="disabled remove">Remove</button>
        <button v-if="view == 'list' && selected && !sorting" class="remove" v-on:click="show('remove')">Remove</button>
    </div>
    <div class="tools">
        <div v-bind:class="{ active: view == 'help' }" class="help">
            <div v-if="!container" class="message">
                <p>
                    No editable content is currently selected.  Please choose one of the following content areas to begin:
                </p>
                <ul>
                    <li class="islet" v-for="islet in islets" v-on:mouseover="highlight(islet)" v-on:click="focus(islet)">{{ islet.getAttribute('data-islet') }}</li>
                </ul>
            </div>
            <div v-if="container" class="message">
                <p>
                    The selected element has no components, click the 'plus' icon above to see what's available.  or click the 'arrow' icon to jump up to the parent container.
                </p>
            </div>
        </div>
        <div v-bind:class="{ active: view == 'list' }" class="list">
            <ol>
                <is-component
                    v-for="(component, key) in components"
                    v-bind="{node: component.node, focusable: canFocus(component.node), selected: component.selected}"
                    v-bind:key="key"
                    v-on:sort="sort(key)"
                    v-on:focus="focus(component.node)"
                    v-on:select="select(key)"
                ></is-component>
            </ol>
        </div>
        <div v-bind:class="{ active: view == 'add' }" class="add">
            <ol>
                <li v-for="(module, name) in modules" v-on:click="add(name)">
                    <h1>{{ module.label }}</h1>
                    <div class="preview">
                        <img class="thumb" :src="module.thumb" />
                        <span class="description">{{ module.description }}</span>
                    </div>
                </li>
            </ol>
        </div>
        <div v-bind:class="{ active: view == 'remove' }" class="remove">
            <div class="message">
                <p>
                    Are you sure you want to remove the selected element(s)?
                </p>
                <p>
                    <button class="yes" v-on:click="remove">Yes</button>
                    <button class="no" v-on:click="show('list')">No</button>
                </p>
            </div>
        </div>
    </div>
</div>
